aside {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #212A3E;
    color: #F1F6F9;

    .mainPhoto {
        width: 200px;
        height: 200px;
        margin-top: 16px;
    }

    .btn {
        background-color: #44AC95;
        box-shadow: 0px -8px 0px 0px rgba(0, 0, 0, 0.50) inset;
        font-size: 30px;
        font-weight: 700;
        width: 100%;

        a {
            color: #267267;
            text-decoration: none;
        }
    }

    .asideList {
        padding: 0px;
        width: 100%;
        margin: 16px;

        .items {
            margin: 5px;
            padding: 5px;
            border-radius: 10px;
            background-color: #394867;
            width: 100%;

            img {
                width: 40px;
                height: 40px;
                background-color: #212A3E;
                border-radius: 1000px;
            }
        }
    }
}
