footer {
    color: #F8D49A;
    max-height: fit-content;
    margin: 0;
    padding: 15;

    .container {
        padding: 0;
        max-height: 50px;
        overflow: hidden;
        margin: 0;
        max-width: 100%;

        .col-md-12 {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0;
        }

        ul {
            display: flex;

            .footerItem {
                margin: 10px;

                img {
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }
}